.fill-remaining-space {
    flex: 1 0 auto;
  }

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .userImage{
      border-radius: 50%;
      width:90%;
  }
  .sideNav{
      width: 13%;
      background-color: #3f51b5;
  }
  .mat-tab-group{
      width: -webkit-fill-available;
      height: -webkit-fill-available;
  }
  .bookShelf{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .spinner{
      align-items: center;
      justify-items: center;
      margin-top: 20%;
  }
 
  .userSmallImage{
    float: right;
    width: 20%;
    border-radius: 50%;
  }