.bookImage{
    height: 240px;
    width:  240px;
}
.bookDetails{
    margin-left: 10px;
}
.dialog{
 cursor: pointer;
 float: right;
}
.outline{
    color: gold;
}
.rightButton{
    align-self: flex-start;
}
.leftButton{
    justify-self: flex-end;
}
.layout{
    justify-content: center;
}
.description{
    width: 600px;
}