<div class="container">
        <mat-toolbar color="primary">
                <span routerLink="/">My Library</span>
                <span class="fill-remaining-space"></span>
                <button mat-raised-button (click)="logout()" fxHide.xs="true" fxHide.gt-xs="false">Logout</button>
                <div *ngIf="isLoading">
                        <img [src]="authService.currentUser.photoURL ? authService.currentUser.photoURL : 'assets/default_user_image.png' "
                                class="userSmallImage" fxHide.xs="false" fxHide.gt-xs="true" [matMenuTriggerFor]="userOptions">
                        <mat-menu #userOptions="matMenu">
                                <button mat-menu-item (click)="logout()">Logout</button>
                        </mat-menu>
                </div>
        </mat-toolbar>
        <div class="information" fxLayout="row wrap">
                <div class="booksCount" fxLayout="column">
                        <div class="fa fa-users bigIcon"></div>
                        <div class="analytics" fxLayout="column">
                                <div> Users Count</div>
                                <div class="count">{{userCount}}</div>
                        </div>

                </div>
                <div class="usersCount" fxLayout="column">
                        <div class="fa fa-book bigIcon"></div>
                        <div class="analytics" fxLayout="column">
                                <div>Books Count</div>
                                <div class="count">{{booksCount}}</div>
                        </div>
                </div>
                <div class="booksCount" fxLayout="column">
                        <div class="fa fa-rss bigIcon"></div>
                        <div class="analytics" fxLayout="column">
                                <div>Owed Books</div>
                                <div class="count"> {{borrowedCount}} </div>
                        </div>
                </div>
        </div>
        <mat-tab-group>
                <mat-tab label="Add Book">
                        <app-newBook></app-newBook>
                </mat-tab>
        </mat-tab-group>
</div>