<div fxLayout="row wrap" class="container" fxLayoutGap="5%" >
    <div>
            <form fxLayout="column"  #f="ngForm" (ngSubmit)="fetchData(f)" >
                    <mat-form-field appearance="outline">
                        <mat-label>ISBN</mat-label>
                        <input type="text" matInput  ngModel name="isbn" minlength="10" maxlength="13" minlength="10" pattern="^([0-9][0-9]*)$"  required class="isbnField">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Copies</mat-label>
                        <input type="number" matInput ngModel name="copies" min=1 placeholder="10">
                    </mat-form-field>
                    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid"  >FetchData</button>        
            </form>
    </div>
    <div *ngIf="dataAvailable" >
        <app-bookdetails [book] = newBook [isCloseVisible]="false" [addBook]= true [copies]= true  ></app-bookdetails>
    </div>
</div>