<div fxLayout="column">
    <mat-form-field class="searchBox" appearance="outline">
        <input type="text" matInput placeholder="Search a book here" [formControl]="searchText">
    </mat-form-field>
    <div class="toogleCont" fxLayout="row" fxLayoutGap="10%">
    <div>No Filters</div>
    <mat-slide-toggle class="toggle" [checked]="advance" [(ngModel)]="advance">
    </mat-slide-toggle>
    <div>Advance Filters</div>
</div>  
    <div *ngIf="advance" fxLayout="column" fxLayoutGap="3%" fxLayoutAlign="center center">
        <div fxLayout="row" class="radio" fxLayoutGap="3%">
            <label>Search By:</label>
            <mat-radio-group fxLayout="row" fxLayoutGap="10%" [(ngModel)]="myfilter" id="radioGroup" (ngModelChange)="searchBook()">
                <mat-radio-button *ngFor="let filter of searchBy; trackBy:customTrackBy" [value]="filter">{{filter}}</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-select placeholder="Select Category" class="options" [(ngModel)]="dropDown" (ngModelChange)="searchBook()"
            appearance="outline">
            <mat-option [value]=filter *ngFor="let filter of category">{{filter}}</mat-option>
        </mat-select>
        <button mat-raised-button class="searchIcon"  (click)="searchBook()" color="accent">Search
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>