.container{
    display: flex;
}

.fill-remaining-space {
    flex: 1 0 auto;
  }
.searchBar{
 width: 100%;
}

.bookShelf{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
.login{
    flex-wrap: wrap;

}

.mat-toolbar-single-row {
flex-wrap: wrap;
align-self:flex-end;
}

.userImage{
    border-radius: 50%;
    height: 80%;
    align-self: center;
    vertical-align: middle;
}