
<div class="container">
<mat-card class="card"  >
  <img mat-card-image src={{book.url}} alt="Photo not available">
  <mat-card-content>
    <p>
      {{book.title}}
    </p>
  </mat-card-content>
  <label *ngIf="isReturnDateVisible">Return Date:</label>
  <label *ngIf="isReturnDateVisible" [ngStyle]="{'color':dateColor}"> {{returnDate.toDateString()}}</label>
  <mat-card-actions *ngIf="!isReturnDateVisible">
    <button mat-button (click) ="userService.userAccountModification('whisList',book.isbn)">Fav</button>
    <button mat-button>Borrow</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="isReturnDateVisible">
      <button mat-button>Return Book</button>
      <button mat-button>Renew Book</button>
    </mat-card-actions>
</mat-card>
</div>